<h3>All reviews for item: <%= @item.name %></h3>
  <% @reviews.each do |review| %>
    <p>Review id: <%= review.id %></p>
    <p>Title: <%= review.title %></p>
    <p>Description: <%= review.description %></p>
    <p>Rating: <%= review.rating %></p>
    <% if current_user.id == review.user_id || current_admin? %>
      <% if review.active %>
          <%=link_to("Disable", item_review_disable_enable_path(@item, review, review: {active: false}), method: :patch)%>
      <% elsif current_admin? && review.active == false %>
          <%=link_to("Enable", item_review_disable_enable_path(@item, review, review: {active: true}), method: :patch)%>
      <% end %>
    <% end %>
  <% end %>
